.sconf_temp
.sconsign.dblite
*.o
*.pyc
*.so
*.os
doc/doxygen.conf
doc/meas_deblender.tag
doc/html
ups/*.cfgc
config.log
python/lsst/meas/deblender/version.py
python/lsst/meas/deblender/deblenderLib.py
python/lsst/meas/deblender/deblenderLib_wrap.cc
python/lsst/meas/deblender/deblenderLib_wrap.os
*.png
tests/.tests
test-*.png
templ-*.png
measure-*.png
sump-*.png
deblend-pre*.png
deblend-heavy*.fits
deblend-*.png
heavy-*.fits
design*.png
design*.pdf

